{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>

<title>Bolsa de empleo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/colors/blue.css" %}">

</head>
    <div class="wrapper">
        
<body>
<div id="wrapper">

<header id="header-container" class="fullwidth ">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Colum izq -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="{% static "images/logo.png" %}" alt=""></a>
				</div>

				<!-- Menu -->
				<nav id="navigation">
				</nav>
				<div class="clearfix"></div>
				<!-- Menu / fin -->

			</div>
			<!-- Colum izq / End -->

			<!-- colum derecha -->
			<div class="right-side">

				<div class="header-widget">
					<a href="#sign-in-dialog" id="login_button" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Ingresar</span></a>
				</div>

				<!--  seleccion idioma -->
				<div class="header-widget hide-on-mobile">
					<div class="footer-row">
						<div class="footer-row-inner">
							<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
								<option>English</option>
								<option>Français</option>
								<option selected>Español</option>
							</select>
						</div>
					</div>
				</div>

				<!-- Btn de navegacion movil -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- colum derecha / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>

<div class="intro-banner" data-background-image="{% static "images/bg1.jpg" %}">
	<div class="container">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Bienvenid@s a la Bolsa de empleo migrante.</strong>
						<br>
						<span>inclusiva en materia laboral y el ambiente está dado por usuarios de las empresas, corporaciones, ONGs, instituciones, centros e  inmigrantes.</span>
					</h3>
				</div>
			</div>
		</div>
		
		<!-- barra buscar -->
		<div class="row">
			<div class="col-md-12">
				<div class="intro-banner-search-form margin-top-95">

					<!-- buscar -->
					<div class="intro-search-field with-autocomplete">
						<label for="autocomplete-input" class="field-title ripple-effect">Comuna?</label>
						<div class="input-with-icon">
							<input id="autocomplete-input" type="text" placeholder="Nombre de la comuna">
							<i class="icon-material-outline-location-on"></i>
						</div>
					</div>

					<!-- buscar -->
					<div class="intro-search-field">
						<label for ="intro-keywords" class="field-title ripple-effect">¿Qué empleo busca?</label>
						<input id="intro-keywords" type="text" placeholder="Título de empleo">
					</div>

					<div class="intro-search-button">
						<button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-full-page-map.html'">Buscar</button>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">1,586</strong>
						<span>Empleos Publicados en la Región Metropolitana </span>
					</li>

					<li>
						<strong class="counter">1,232</strong>
						<span>Profesionales</span>
					</li>
					<li>
						<strong class="counter">2,232</strong>
						<span>Oficios</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<!-- Ofertas laborales -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				

				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Ofertas de empleo</h3>
				</div>
				
				<!-- Contenedor aviso de trabajo -->
				<div class="listings-container compact-list-layout margin-top-35">

					<!-- Aviso -->
					<a href="detalleAviso1n1.html" class="job-listing with-apply-button">


						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
								<img src=" {% static "images/empleador-01.png" %}" alt="">
							</div>

							<!-- Detalle  -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Barbero integral para peluquerías</h3>

								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-business"></i> El Barbero </li>
										<li><i class="icon-material-outline-location-on"></i> Santiago , Región Metropolitana</li>
										<li><i class="icon-material-outline-business-center"></i> Jornada Completa</li>
										<li><i class="icon-material-outline-access-time"></i> hace 2 días</li>
									</ul>
								</div>
							</div>

							<!-- Btn Postular -->
							<span class="list-apply-button ripple-effect">Detalle</span>
						</div>
					</a>


					<!-- Aviso -->
					<a href="detalleAviso1n1.html" class="job-listing with-apply-button">

						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
								<img src= "{% static "images/company-logo-05.png" %}" alt="">
							</div>

							<!-- Detalle -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Asistente Ejecutiva</h3>

								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-business"></i> Entel</li>
										<li><i class="icon-material-outline-location-on"></i>San Bernardo, Región Metropolitana</li>
										<li><i class="icon-material-outline-business-center"></i> Jornada Completa</li>
										<li><i class="icon-material-outline-access-time"></i>hace 3 días</li>
									</ul>
								</div>
							</div>

							<!-- btn postular -->
							<span class="list-apply-button ripple-effect">Detalle</span>
						</div>
					</a>
					<!-- Aviso / fin-->

				<!-- Aviso -->
				<a href="detalleAviso1n1.html" class="job-listing with-apply-button">

					<div class="job-listing-details">

						<!-- Logo -->
						<div class="job-listing-company-logo">
							<img src="{% static "images/company-logo-05.png" %}" alt="">
						</div>

						<!-- Detalle -->
						<div class="job-listing-description">
							<h3 class="job-listing-title">Jornal</h3>

							<!-- Aviso -->
							<div class="job-listing-footer">
								<ul>
									<li><i class="icon-material-outline-business"></i> Constructora Orbis S.A.</li>
									<li><i class="icon-material-outline-location-on"></i>La Florida, Región Metropolitana</li>
									<li><i class="icon-material-outline-business-center"></i> Jornada Completa</li>
									<li><i class="icon-material-outline-access-time"></i>hace 3 días</li>
								</ul>
							</div>
						</div>

						<!-- btn postular -->
						<span class="list-apply-button ripple-effect">Detalle</span>
					</div>
				</a>
					<!-- Aviso / fin-->

					<!-- Aviso -->
					<a href="detalleAviso1n1.html" class="job-listing with-apply-button">


						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
								<img src="{% static "images/empleador-01.png" %}" alt="">
							</div>

							<!-- Detalle  -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Barbero integral para peluquerías</h3>

								<!-- Lista de ofertas -->
								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-business"></i> El Barbero <div class="verified-badge" title="Empleador recomendado" data-tippy-placement="top"></div></li>
										<li><i class="icon-material-outline-location-on"></i> Santiago de Chile, Región Metropolitana</li>
										<li><i class="icon-material-outline-business-center"></i> Jornada Completa</li>
										<li><i class="icon-material-outline-business-center"></i> Oficio</li>
										<li><i class="icon-material-outline-access-time"></i> hace 2 días</li>
									</ul>
								</div>
							</div>

							<!-- Btn Postular -->
							<span class="list-apply-button ripple-effect">Detalle</span>
						</div>
					</a>
					<!-- Aviso / fin-->
			</div>
			<!-- Contenedor aviso de trabajo / fin -->

			</div>
		</div>
	</div>
</div>
<!-- Ofertas laborales / Fin -->

<div class="section margin-top-65 margin-bottom-65">
	<div class="container">
		<div class="row">


			<div class="col-xl-12">
				<div class="section-headline centered margin-top-0 margin-bottom-45">
					<h3>Ofertas de Empleo por Comuna</h3>
				</div>
			</div>

			<div class="col-xl-3 col-md-3">
				<!-- Photo Box -->
				<a href="#" class="photo-box" data-background-image= "{% static "images/comuna.png" %}">
					<div class="photo-box-content">
						<h3>La florida</h3>
						<span>376 Empleos</span>
					</div>
				</a>
			</div>
			
			<div class="col-xl-3 col-md-3">
				<!-- Photo Box -->
				<a href="#" class="photo-box" data-background-image= "{% static "images/comuna.png" %}">
					<div class="photo-box-content">
						<h3>Recoleta</h3>
						<span>645 Empleos</span>
					</div>
				</a>
			</div>
			
			<div class="col-xl-3 col-md-3">
				<!-- Photo Box -->
				<a href="#" class="photo-box" data-background-image= "{% static "images/comuna.png" %}">
					<div class="photo-box-content">
						<h3>Santiago</h3>
						<span>832 Empleos</span>
					</div>
				</a>
			</div>

			<div class="col-xl-3 col-md-3">
				<!-- Photo Box -->
				<a href="#" class="photo-box" data-background-image="{% static "images/comuna.png" %}">
					<div class="photo-box-content">
						<h3>Maipu</h3>
						<span>513 Empleos</span>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
<!-- 
        

<!-- Footer
================================================== -->
<div id="footer">
	
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer-->
					<div class="footer-rows-container">
						<!-- Logo -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="{% static "images/logo2.png" %}" alt="">
								</div>
							</div>
						</div>
						
						<div class="footer-rows-right">
							<!-- Idioma -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option>English</option>
										<option>Français</option>
										<option selected>Español</option>
									</select>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					Bolsa de Empleo migrante
				</div>
			</div>
		</div>
	</div>


</div>
<!-- Footer / fin -->

</div>
<!-- Wrapper / Fin -->

<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#ingresar">Ingresar</a></li>
		</ul>

		<div class="popup-tabs-container">

			<div class="popup-tab-content" id="ingresar">
				{% block content %}
		        
		        
		        {% endblock %}
			</div>
		</div>
	</div>
</div>

<!-- Scripts
================================================== -->
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/jquery-migrate-3.0.0.min.js" %}"></script>
<script src="{% static "js/mmenu.min.js" %}"></script>
<script src="{% static "js/tippy.all.min.js" %}"></script>
<script src="{% static "js/simplebar.min.js" %}"></script>
<script src="{% static "js/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/bootstrap-select.min.js" %}"></script>
<script src="{% static "js/snackbar.js" %}"></script>
<script src="{% static "js/clipboard.min.js" %}"></script>
<script src="{% static "js/counterup.min.js" %}"></script>
<script src="{% static "js/magnific-popup.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>

<script>

$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: '\n' + 'Tu estado ha sido cambiado!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>


<!-- Google Autocomplete -->
<script>
	function initAutocomplete() {
		 var options = {
		  types: ['(cities)'],

		 };

		 var input = document.getElementById('autocomplete-input');
		 var autocomplete = new google.maps.places.Autocomplete(input, options);
	}

	// Autocompletar
	if ($('.intro-banner-search-form')[0]) {
	    setTimeout(function(){ 
	        $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
	    }, 300);
	}

</script>
<script>
    jQuery(function(){
   jQuery('#login_button').click();
	});
</script>
        </body>
    </div>
</html>