{% extends 'login_base.html' %}

{% block content %}
{% load staticfiles %}

	<div class="welcome-text">
					<h3>Bienvenido!</h3>
					<span>No tienes una cuenta? <a href="#" class="register-tab">Regístrate!</a></span>
	</div>
	<form class="login" method="POST">
					{% csrf_token %}
					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="username" id="username" placeholder="Username" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Contraseña" value="Postulante123+" required/>
					</div>
					<a href="#" class="forgot-password">¿Has olvidado tu contraseña?</a>
				<button class="button full-width button-sliding-icon ripple-effect" type="submit">Ingresar</a><i class="icon-material-outline-arrow-right-alt"></i></button>
	</form>
{% endblock %}